{% extends 'app/base.html' %}
{% load static %}
{% block title  %} Home {% endblock title %}

{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/banner/b1.jpg '%}" class="d-block w-100" alt="banner images">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'images/banner/b2.jpg '%}" class="d-block w-100" alt="banner images">
      </div> 
      <div class="carousel-item ">
        <img src="{%  static 'images/banner/b3.jpg'%}" class="d-block w-100" alt="banner images">
      </div> 
      <div class="carousel-item ">
        <img src="{% static 'images/banner/b4.jpg '%}" class="d-block w-100" alt="banner images">
      </div>
      
    </div>
  </div>
{% endblock banner-slider %}

{% block information %}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5"> Dairy products or milk products, also known as lacticinia, are food products made from (or containing) milk.[a][1] The most common dairy animals are cow, water buffalo, nanny goat, and ewe. Dairy products include common grocery store food items in the Western world such as yogurt, cheese, milk and butter.[2][3] A facility that produces dairy products is known as a dairy.[b][4] 

        Dairy products are consumed worldwide to varying degrees (see consumption patterns worldwide).[5] Some people avoid some or all dairy products either because of lactose intolerance, veganism, or other health reasons or beliefs.</small>
    </div>
</div>
{%endblock information %}

{% block main-content %}

<div class="container">
    <h2 class="text-center "> Dairy Products</h2>
    <br><br>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
        <div class="goodnesssec buttermilk smbg">
            <a href="{% url 'category' 'GH' %}">
                <div class="goodnessseccont text-center">
                    <img src="{% static 'images/product/buffalo-ghee.png' %}" class="img-responsive center-block" alt="">
                    <p class="mlkpro">Ghee</p>
                </div>
            </a>
        </div>
        </div>

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
            <div class="goodnesssec buttermilk curdbgpro">
                <a href="{% url 'category' 'CR' %}">
                    <div class="goodnessseccont  text-center">
                        <img src="{% static 'images/product/curd-total.png' %}" class="img-responsive center-block" alt="">
                        <p class="mlkpro">Curd</p>
                    </div>
                </a>
            </div>
            </div>
            
            
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk dbmilk ">
                    <a href="{% url 'category' 'ML' %}">
                        <div class="goodnessseccont  text-center">
                            <img src="{% static 'images/product/dbtoned-milk.png' %}" class="img-responsive center-block" alt="">
                            <p class="mlkpro">Milk</p>
                        </div>
                    </a>
              
                </div>
              
            </div>
           </div>
           <br><br>
           <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url 'category' 'MS' %}">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'images/product/milk-shake-chocolate.png' %}" class="img-responsive center-block" alt="">
                        <p class="mlkpro">milkshake</p>
                    </div>
                </a>
            </div>
            </div>
    
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'LS' %}">
                        <div class="goodnessseccont  text-center">
                            <img src="{% static 'images/product/sweet-lassi.png' %}" class="img-responsive center-block" alt="">
                            <p class="mlkpro">lassi</p>
                        </div>
                    </a>
                </div>
                </div>
                
                
                <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                    <div class="goodnesssec buttermilk dbmilk ">
                        <a href="#">
                            <div class="goodnessseccont  text-center">
                                <img src="{% static 'images/product/paneer-lite.png' %}" class="img-responsive center-block" alt="">
                                <p class="mlkpro">cheese</p>
                            </div>
                        </a>
                  
                    </div>
                  
                </div>
               </div>
    

    
</div>
<br/><br/>
{% endblock main-content %}